@model List<Category>

<div class="container my-5">
    <h2 class="text-center mb-4">SHOP BY CATEGORY</h2>
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="card h-100">
                    <img src="@category.ImageUrl" class="card-img-top" alt="@category.Name">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@category.Name</h5>
                        <div>
                            @foreach (var subCategory in category.SubCategories)
                            {
                                <p><a href="@Url.Action("ProductsBySubCategory", "Products", new { subCategoryId = subCategory.SubCategoryId })">@subCategory.Name</a></p>
                            }
                        </div>
                        <a href="@Url.Action("Index", "Products", new { categoryId = category.CategoryId })" class="mt-auto btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Styles {
    <link href="~/css/category.css" rel="stylesheet" />
}
