<div>
    <h4>Categories</h4>
    <ul class="nav flex-column">
        @foreach (var category in Model)
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Products" asp-action="Index" asp-route-categoryId="@category.CategoryId">
                    @category.Name
                </a>
                <ul class="nav flex-column">
                    @foreach (var subCategory in category.SubCategories)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Products" asp-action="Index" asp-route-categoryId="@category.CategoryId" asp-route-subCategoryId="@subCategory.SubCategoryId">
                                @subCategory.Name
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>
