@{
    Layout = null;
}
@model Cart

<ul class="list-group list-group-flush">
    @foreach (var item in Model.CartItems)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4">
                    <img src="@Url.Content(item.Product.ImageUrl)" class="img-fluid" alt="@item.Product.Name" />
                </div>
                <div class="col-md-8">
                    <h5>@item.Product.Name</h5>
                    <p>Price: @item.Product.Price</p>
                    <p>Quantity: @item.Quantity</p>
                    <!-- Add any additional details -->
                </div>
            </div>
            <div class="quantity-control">
                <button class="quantity-decrease" data-cart-item-id="@item.CartItemId">-</button>
                <span class="quantity-display">@item.Quantity</span>
                <button class="quantity-increase" data-cart-item-id="@item.CartItemId">+</button>
            </div>

        </li>

    }

</ul>

<div class="cart-total">
    @*Total Quantity: <span id="total-quantity"></span>*@
    Total Price: <span id="total-price">$@ViewBag.TotalPrice</span>
</div>
<div class="cart-actions">
    <button id="clear-cart-btn" class="btn btn-danger">Clear Cart</button>
</div>

<script>
    $(document).ready(function () {
        // Decrease item quantity
        $('.quantity-decrease').click(function () {
            var cartItemId = $(this).data('cart-item-id');
            var currentQuantity = parseInt($(this).siblings('.quantity-display').text());

            // Check if the current quantity is greater than 1
            if (currentQuantity > 1) {
                updateCartItemQuantity(cartItemId, currentQuantity - 1);
            } else {
                // If the quantity is 1 or less, remove the item from the cart
                removeCartItem(cartItemId);
            }
        });


        // Increase item quantity
        $('.quantity-increase').click(function () {
            var cartItemId = $(this).data('cart-item-id');
            var currentQuantity = parseInt($(this).siblings('.quantity-display').text());
            updateCartItemQuantity(cartItemId, currentQuantity + 1);
        });



        // Function to update the total quantity dynamically from the controller
        function AjaxupdateTotalQuantity() {
            // Make an AJAX request to fetch the total quantity from the controller
            $.get('/cart/GetTotalProductQuantity', function (response) {
                // Update the displayed total quantity based on the response
                $('#total-quantity').text(response.TotalQuantity);
            }).fail(function (xhr, status, error) {
                // Handle any errors that occur during the AJAX request
                console.error("Failed to fetch total quantity:", error);
            });
        }



        // Function to remove item from cart
        function RemoveCartItem(cartItemId) {
            // Make an AJAX request to remove the item from the cart
            $.post('/Cart/RemoveCartItem', { cartItemId: cartItemId }, function (response) {
                // If the removal is successful, update the cart count and refresh the cart display
                updateCartCount();
                updateCartModal(); // Assuming you have a function to update the cart modal
            }).fail(function (error) {
                // Handle errors here
                console.log('Error removing item from cart:', error);
            });
        }


        // Function to update item quantity
        function updateCartItemQuantity(cartItemId, newQuantity) {
            $.ajax({
                url: '/Cart/UpdateQuantity',
                type: 'POST',
                data: {
                    cartItemId: cartItemId,
                    quantity: newQuantity
                },
                success: function (response) {
                    // Update the quantity display
                    $('[data-cart-item-id="' + cartItemId + '"]').siblings('.quantity-display').text(newQuantity);
                    // Calculate and update the total price
                    updateTotalPrice();
                },
                error: function (error) {
                    console.error("Error updating cart item quantity:", error);
                }
            });


        }
        // Function to update the total price
        function updateTotalPrice() {
            var totalPrice = 0;
            $('.quantity-display').each(function () {
                var quantity = parseInt($(this).text());
                var price = parseFloat($(this).closest('.list-group-item').find('.col-md-8 p:nth-child(2)').text().split(': ')[1]);
                totalPrice += quantity * price;
            });
            $('#total-price').text('$' + totalPrice.toFixed(2));
        }


    });
    $('#clear-cart-btn').click(function () {
        if (confirm("Are you sure you want to clear your cart?")) {
            $.ajax({
                url: '/Cart/ClearCart',
                type: 'POST',
                data: { cartId: 1 }, // Pass the cart ID or any other identifier
                success: function (response) {
                    // Handle success, like refreshing the cart display
                    location.reload(); // Reload the page
                },
                error: function (error) {
                    console.error("Error clearing cart:", error);
                }
            });
        }
    });

</script>
